:root {
  --primary: #0d6efd;
  --light: #f8f9fa;
  --dark: #212529;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  background: var(--light);
  transition: 0.5s;
  z-index: 999;
}

.sidebar .navbar .navbar-nav .nav-link {
  padding: 7px 20px;
  color: var(--dark);
  font-weight: 500;
  border-left: 3px solid var(--light);
  border-radius: 0 30px 30px 0;
  outline: none;
}

.sidebar .navbar .navbar-nav .nav-link i {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i {
  background: var(--light);
}

.content {
  margin-left: 250px;
  min-height: 100vh;
  background: #fff;
}

@media (min-width: 992px) {
  .sidebar {
    margin-left: 0;
  }

  .sidebar.open {
    margin-left: -250px;
  }

  .content {
    width: calc(100% - 250px);
  }

  .content.open {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 991.98px) {
  .sidebar {
    margin-left: -250px;
  }

  .sidebar.open {
    margin-left: 0;
  }

  .content {
    width: 100%;
    margin-left: 0;
  }
}

.content .navbar .sidebar-toggler {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 40px;
}
.table thead tr {
  text-align: center;
}
.table tbody td {
  text-align: center;
}
#searchUser {
  width: 200px;
}
.userInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  /* overflow: hidden; */
}
.userInfo span,
input,
button {
  margin-left: 10px;
}
.userInfo .addUser {
  width: 500px;
  position: absolute;
  visibility: hidden;
  transform: scale(0.5);
  bottom: 0;
  left: 44%;
  padding: 10px 20px;
  /* background-color: pink; */
  transition: all 0.5s;
  background-color: #fff;
  opacity: 99;
}
.userInfo .addUser.active {
  bottom: -450px;
  left: 30%;
  visibility: visible;
  transform: scale(1);
}
.userInfo .addUser input {
  margin-bottom: 10px;
  /* width: fit-content; */
  width: 400px;
}
